{% extends 'base.html' %} {% block content %}

<div class="detail__img">
    <img src="{{cars.img}}" alt="{{cars.make}}" />
</div>
<div class="detail__make">
    <h1 class="title">{{cars.make}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
      <a href="{% url 'cars_update' cars.pk %}" class="button is-info">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
      <a href="{% url 'cars_delete' cars.pk %}" class="button is-danger">
        <span class="icon">
          <i class="fas fa-trash-alt"></i>
        </span>
      </a>
    </div>
    <div class="gallery">
    <div class="detail__cars mb-5">
        <h3 class="title is-3">Models</h3>
        <!-- Model Create -->
        <form class="mb-5" action="{% url 'model_create' cars.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="type"
                  placeholder="Model Type"
                  required
                />
              </div>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="img"
                  placeholder="Image"
                  required
                /> 
               </div>
               <div class="control">
                <input
                  class="input"
                  type="text"
                  name="year"
                  placeholder="Model Year"
                  required
                /> 
               </div>
              <div class="control">
                <input class="button is-primary" type="submit" value="Add Car Model" />
              </div>
            </div>
          </form>
      
        
        {% for model in cars.models.all %}
        <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="{{model.img}}" alt="{{model.type}}" />
              </figure>
            </div>  
        <div class="model">
          <span>{{forloop.counter}}</span>
          <span><b>Model {{model.type}}</b></span>
          <span> Year {{model.year}}</span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Models Available</p>
          </div>
        </article>
    
        {% endfor %}
      </div>
</div>

    <div class="detail__country">
        <h4 class="title is-4">Country</h4>
        <h5>{{cars.country}}</h5>
    </div>
</div>

{% endblock %}