{% extends 'base.html' %}
{% block content %}
<h1>Cars Collection</h1>

<div class="favorite">
    {% for favorite in favorites %}
  
        <div class="favorite mb-5">
          <h3 class="title is-3 has-text-success">{{favorite.person}}</h3>
          <hr />
  
          {% for model in favorite.models.all %}
  
              <div class="model">
                <span>{{forloop.counter}}</span>
                <span><b>{{model.type}}</b></span>
                <div class="card-image">
                  <figure class="image is-square">
                    <img src="{{model.img}}" alt="{{model.type}}" />
                  </figure>
                </div>
                <span>{{model.year}}</span>

                <span>
                <a
                  href="{% url 'favorite_model_assoc' favorite.pk model.pk %}?assoc=remove"
                  class="button is-danger is-outlined">
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </a>
                
                </span>
              </div>
  
          {% endfor %}
        </div>
  
    {% endfor %}
  </div>
  
{% endblock %}